# ==============================
# CORE BACKEND
# ==============================
fastapi==0.111.0
uvicorn[standard]==0.30.1

# ==============================
# DATABASE
# ==============================
sqlalchemy==2.0.30
aiosqlite==0.20.0

# ==============================
# VALIDATION / SCHEMAS
# ==============================
pydantic==2.7.1

# ==============================
# AUTH / SECURITY
# ==============================
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# ==============================
# TEMPLATES / FORMS
# ==============================
jinja2==3.1.4
python-multipart==0.0.9

# ==============================
# OPTIONAL (POSTGRES FUTURO)
# ==============================
# psycopg2-binary==2.9.9


# pip uninstall bcrypt passlib -y
# pip install -r requirements.txt
