<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}ReservaPro{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css" />
  {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% block body %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
